<h3>{{ title }}</h3>
<p>
</p>
<div class="container">
  <div class="row">    
    <div class="col col-sm-1">Name</div>
    <div class="col col-sm-1">Average Height</div>
    <div class="col col-sm-1">Average Weight</div>
    <div class="col col-sm-2">Animal Kingdom</div>
    <div class="col col-sm-4">Image URL</div>
    <div class="col col-sm-1">Quantity</div>
    <div class="col col-sm-2">Description</div>
  </div>
  <div class="row" *ngFor='let animal of animalsList;'>
    <div class="col col-sm-12 hide-class" [ngClass]="{'display-class': checkAnimalKingdom(animal.class)}"><b>{{animal.class}}</b></div>    
    <div class="col col-sm-1"><a routerLink="/animals/{{animal.name}}">{{animal.name}}</a></div>
    <div class="col col-sm-1">{{animal.avgHeight}}</div>
    <div class="col col-sm-1">{{animal.avgWeight}}</div>
    <div class="col col-sm-2">{{animal.class}}</div>
    <div class="col col-sm-4 elipsis-table"><a href="{{animal.image}}" target="_blank">{{animal.image}}</a></div>
    <div class="col col-sm-1">{{animal.quantity}}</div>
    <div class="col col-sm-2">{{animal.description}}</div>
  </div>
</div>