<nav class="navbar sticky-top navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/" routerLinkActive="active-link">Simple Zoo</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/blocks/" routerLinkActive="active-link">Blocks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/list/" routerLinkActive="active-link">List</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container text-center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <hr/>
</div>
<div class="container main-container">
<router-outlet></router-outlet>
</div>
<footer class="footer">
  <div class="container text-center">
  &copy; {{ desription }}
</div>
</footer>
