<h3>{{ title }}</h3>
<p>
</p>
<label for="classAk">Sort By</label>
<select class="form-control" id="classAk" name="classAk" [(ngModel)]='classAk'>
  <option value="name" selected>Name</option>
  <option value="avgHeight">Height</option>
  <option value="avgWeight">Weight</option>
</select>
<div class="container">
  <div class="row">
      <div class="col-sm-6 col-md-4" *ngFor='let animal of animalsList | sortBy : classAk; let i = index'>
          <img [src]="animal.image" class="block-img" alt="{{animal.name}}">
          <div class="caption">
            <h3>{{ i+1 }}.&nbsp;{{ animal.name }}</h3>
            <div class="container">
              <div class="row">
                <div class="col-sm-6 col-md-4">Height</div>
                <div class="col-sm-6 col-md-4">Weight</div>
                <div class="col-sm-6 col-md-4">Description</div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-4">{{ animal.avgHeight }}&nbsp;cms</div>
                <div class="col-sm-6 col-md-4">{{ animal.avgWeight }}&nbsp;lbs</div>
                <div class="col-sm-6 col-md-4"><b>{{ animal.description }}</b>
                </div>
              </div>
              <div class="row">
                <div class="col">
                    <form #animalform='ngForm' (ngSubmit)='updateAnimal($event,animalform)'>
                        <label for="quantity">Quantity</label>
                        <input type="hidden" name="name" [(ngModel)]='animal.name'>
                        <input type="number" class="form-control quantity" id="quantity" name="quantity" [(ngModel)]='animal.quantity' >
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form></div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>